extends layout
block styles
  link(rel='stylesheet', media='screen', href='/css/core.css')
block app
  ul(class='nav nav-pills nav-justified')
    li #[a(href='/movies') Movies]
    li #[a(href='/directors') Directors]
    li #[a(href='/actors') Actors]
