doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Page Not Found
  body
    p The URL you requested doesn't exist at this domain.
